@tailwind base;

/* Сначала свои глобальные стили через @layer base */
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-body text-gray-900 bg-white antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Tailwind компоненты */
@tailwind components;

/* Tailwind утилиты */
@tailwind utilities;
