@tailwind base;

/* Tailwind компоненты */
@tailwind components;

/* Tailwind утилиты */
@tailwind utilities;

/* Сначала свои глобальные стили через @layer base */
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply text-current hover:underline;
  }

  ul,
  ol {
    @apply list-inside mb-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mb-2;
  }

  blockquote {
    @apply border-l-4 border-gray-200 pl-4 italic text-gray-600 my-4;
  }


}