
/*======================================================================================
  Basic styles for the main content area and tooltip adjustments.
======================================================================================*/
.site-main{
    padding-block: 20px;
}

.flip-left{
    left:auto !important;
    right:100% !important;
}
.flip-top{
    top:auto !important;
    bottom:100% !important;
}


