
/*======================================================================================
  Custom styles for some components
======================================================================================*/
.flip-left{
    left:auto !important;
    right:100% !important;
}
.flip-top{
    top:auto !important;
    bottom:100% !important;
}
