/*========================================================================================
Основной файл стилей, который импортирует все остальные SCSS файлы и скомпилируется в CSS 
=========================================================================================*/
@use "./fonts.scss" as *;

@use './basic.scss' as *;

@use './woocommerce.scss' as *;

@import "../tailwind/output.css";

