@import "tailwindcss";

/* включаем dark через класс */
@custom-variant dark (&:where(.dark, .dark *));


@theme {

    /*================================================================================================================
FONTS
=================================================================================================================*/
    --font-body: "Roboto", sans-serif;
    --font-heading: "Montserrat", sans-serif;


    /*================================================================================================================
COLORS
=================================================================================================================*/
    --color-black: #000;
    --color-white: #fff;
}


/*================================================================================================================
TYPOGRAPHY
=================================================================================================================*/

@utility typography {
    h1 {
        @apply text-4xl font-bold mb-4;
    }

    h2 {
        @apply text-3xl font-bold mb-3;
    }

    h3 {
        @apply text-2xl font-bold mb-3;
    }

    h4 {
        @apply text-xl font-semibold mb-2;
    }

    h5 {
        @apply text-lg font-semibold mb-2;
    }

    h6 {
        @apply text-base font-semibold mb-2;
    }

    p {
        @apply mb-4 leading-relaxed;
    }

    a {
        @apply text-current underline-offset-4 hover:underline;
    }

    ul,
    ol {
        @apply list-inside mb-4;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply mb-2;
    }

    blockquote {
        @apply border-l-4 border-pink-600 dark:border-blue-400 pl-4 italic text-pink-600 dark:text-blue-400 my-4;
    }
}


/*================================================================================================================
CONTAINER
=================================================================================================================*/
/* контейнер */
@utility container {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 16px;
}

/* responsive padding */
@variant sm {
    .container {
        padding-inline: 20px;
    }
}

@variant lg {
    .container {
        padding-inline: 24px;
    }
}

@variant xl {
    .container {
        padding-inline: 32px;
    }
}

@variant 2xl {
    .container {
        padding-inline: 40px;
    }
}